<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.webServer>
		<directoryBrowse enabled="false" />

		<aspNetCore processPath=".\JullianaApi.exe" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
		<defaultDocument>
			<files>
				<clear />
				<add value="index.php" />
				<add value="Default.htm" />
				<add value="Default.asp" />
				<add value="index.htm" />
				<add value="index.html" />
				<add value="iisstart.htm" />
				<add value="default.aspx" />
			</files>
		</defaultDocument>
		<httpErrors errorMode="Detailed" existingResponse="PassThrough" />
	</system.webServer>
</configuration>
<!--ProjectGuid: e1b2e8f7-7c4a-4ab3-bbab-536a58db14be-->